<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:form.hidden property="pageId" value="{constraint.pageId}"/>
<f:form.hidden property="depth" value="{constraint.depth}"/>
<f:form.hidden property="lang" value="{constraint.lang}"/>
<f:form.hidden property="hideShortcuts" value="{constraint.hideShortcuts}"/>
<f:form.hidden property="hideDisabled" value="{constraint.hideDisabled}"/>
<f:form.hidden property="hideSysFolders" value="{constraint.hideSysFolders}"/>
<f:form.hidden property="hideNotInMenu" value="{constraint.hideNotInMenu}"/>
<f:form.hidden property="hideExpired" value="{constraint.hideExpired}"/>

</html>
